#intro {
  margin: 70px auto 60px auto;
}
#intro p {
  margin-bottom: 4%;
}
#btn-box {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  gap: 1em;
}
#btn-box a {
  font-size: 25px;
  font-family: dosis;
  border: solid 2px black;
  border-radius: 25px;
  padding: 0.5em;
  margin-bottom: 2ch;
  background-color: rgba(15, 13, 22, 255);
  color: #fff;
  transition: all 0.5s ease;
}
#btn-box a:hover {
  font-size: 22px;
}
#project-img {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
#project-img img {
  margin: auto;
  border: 1px solid #fff;
  border-radius: 25px;
  height: 30rem;
}
#icons {
  display: none;
}
@media screen and (max-width: 1060px) {
  #intro {
    font-size: 30px;
  }
  #btn-box a {
    font-size: 18px;
  }
  #project-img img {
    height: 20rem;
  }
}
@media screen and (max-width: 700px) {
  #intro {
    margin-top: 5rem;
    height: 10rem;
    font-size: 22px;
  }
  #intro h1 {
    line-height: 2em;
  }
  #txt-box {
    top: 0vh;
  }
  #btn-box a {
    font-size: 13px;
  }
  #btn-box a:hover {
    font-size: 12px;
  }
  .technologies {
    margin: 5rem 0;
  }
  #project-img {
    margin-bottom: 7rem;
  }
  #project-img img {
    height: 10rem;
  }
}
